<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IDoctor1"
        tools:targetApi="31">
        <activity
            android:name=".activities.PatientAppointments"
            android:exported="false" />
        <activity
            android:name=".activities.Patient_Get_Appointment"
            android:exported="false" />
        <activity
            android:name=".activities.Patient_View_Appointment"
            android:exported="false" />
        <activity
            android:name=".activities.PatientViewReport"
            android:exported="false" />
        <activity
            android:name=".activities.PatientViewEvaluationDetails"
            android:exported="false" />
        <activity
            android:name=".activities.PatientAssessmentDetails"
            android:exported="false" />
        <activity
            android:name=".activities.PatientViewAssessment"
            android:exported="false" />
        <activity
            android:name=".activities.PatientInsertAssessment"
            android:exported="false" />
        <activity
            android:name=".activities.PatientViewEvaluation"
            android:exported="false" />
        <activity
            android:name=".activities.PatientAppointmentDetails"
            android:exported="false" />

        <activity
            android:name=".activities.Patient_View_Consultation"
            android:exported="false" />
        <activity
            android:name=".activities.Patient_View_Professional_Profile"
            android:exported="false" />
        <activity
            android:name=".activities.Patient_View_Professional"
            android:exported="false" />
        <activity
            android:name=".activities.Patient_Edit_Profile"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalGenerateAppointments"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalViewEvaluationDetails"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalViewReport"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalViewEvaluation"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalViewAssessment"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalAddReport"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalAddEvaluation"
            android:name=".activities.Patient_Main_Activity"
            android:exported="false" />
        <activity
            android:name=".activities.Patient_View_Profile"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalAppointmentDetails"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalEditAppointment"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalAddAppointment"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalViewAppointments"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalEditTimetable"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalAddTimetable"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalTimetableDetails"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalViewTimetable"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalEditConsultation"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalAddConsultation"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalConsultationDetails"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalViewConsultations"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalEditProfile"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfessionalMainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterPatient"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterProfessional"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>